@import "../../scss/functions";
@import "../../scss/variables";

.productContainer {
    @include flexStyle;
    @include shadow;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px 20px 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;

    .likeBtn {
        @include buttonStyle;
        position: absolute;
        top: 10px;
        right: 10px;
        img {
            width: 25px;
        }
    }

    &:hover {
        @include shadow;
    }
}

.detailsLink {
    @include flexStyle;
    flex-direction: column;
    letter-spacing: 1px;
    color: #333;
    text-decoration: none;
    width: 100%;

    .productImg {
        width: 80%;
        height: 200px;
    }
}

.detailsContainer {
    width: 100%;
    .title {
        padding: 60px 0 5px;
        font-size: 1rem;
    }
    .details {
        padding-bottom: 20px;
        font-size: 0.8rem;
    }
}

.buyBtns {
    @include flexStyle;
    justify-content: space-between;
    width: 100%;

    button {
        @include shadow;
        @include buttonStyle;
        background-color: $mainColor;
        color: #fff;
        padding: 8px 30px;
        font-size: 0.8rem;
        transition: all 0.5s ease;

        &:hover {
            background-color: $hoverColor;
        }
    }

    .price {
        color: $secondaryColor;
    }
}

.quantityBtns {
    @include flexStyle;

    .quantityBtn {
        @include flexStyle;
        width: 30px;
        height: 30px;
        padding: 5px;
        font-weight: bold;
        font-size: 1.4rem;
    }

    p {
        margin: 0 5px;
        font-size: 1.2rem;
        font-weight: bold;
        color: $hoverColor;
    }
}

@media (max-width: 1145px) {
    .productImg {
        width: 200px !important;
        margin: auto;
    }
}
